
:root {
	--background: hsl(0, 0%, 100%);
	--background-alt: hsl(0, 0%, 0%);
	--primary: hsl(0, 0%, 0%);
	--secondary: hsl(0, 0%, 30%);
	--tertiary: hsl(0, 0%, 60%);

	--text: hsl(0, 0%, 0%);
	--text-light: hsl(0, 0%, 100%);
}

/* ------------------------------------------------------ */
/*                     General styling                    */
/* ------------------------------------------------------ */

html, * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--text);
}

body {
	background: var(--background-alt);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	width: 100dvw;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 20cqw;
}

h2 {
	/* 24px */
	font-size: 2rem;
}

h3 {
	/* 16px */
	font-size: 1rem;
}

main {
	container-type: inline-size;
	/* width: 100%; */
	height: 100dvh;
	display: grid;
	place-items: center;
	padding: 1rem;

	background: var(--background);
	border-radius: 2rem;
	border: .5rem inset var(--background-alt);
}

.animContainer > canvas {
	width: 100%;
}

/* --------------- Generic button styling --------------- */

.btn {
	border: hidden;
	background: var(--secondary);
	color: var(--text-light);

	padding: .5rem 1rem;
}

/* hide checkbox in .btn */

.btn > input[type="checkbox"] {
	display: none;
}

main:has(.btn > input[type="checkbox"]:checked) .window-story {
	animation: slide-in .5s ease-in-out;
	display: block;
}

.btn-story {
	/* background: transparent; */
	width: 100%;
}

/* ------------------------------------------------------ */
/*                   Back button styling                  */
/* ------------------------------------------------------ */

.nav-back {
	position: absolute;
	top: 1rem;
	left: 1rem;

	width: 1.5rem;
	height: 1.5rem;

	background: url(../images/back.svg) no-repeat center center;
}

.nav-back > input {
	display: none;
}


/* ------------------------------------------------------ */
/*                   Navigation styling                   */
/* ------------------------------------------------------ */

header .nav-toggle-label {
	position: absolute;
	background: url(../images/hamburger-closed.svg) no-repeat center center;
	z-index: 11;
	width: 1.5rem;
	height: 1.5rem;
	top: 1rem;
	left: 1rem;
} 

header .nav-toggle-label > input {
	display: none;
}

header:has(.nav-toggle-label > input:checked) > nav > ul {
	transform: translateX(0);
}

header:has(.nav-toggle-label > input:checked) .nav-toggle-label {
	background: url(../images/hamburger-open.svg) no-repeat center center;
}


header > nav > ul {
	background: var(--tertiary);
	display: flex;
	flex-direction: column;

	z-index: 10;

	gap: 1rem;
	width: 90%;
	height: 100%;

	padding: 4rem 1rem 1rem 1rem;
	list-style: none;

	position: absolute;
	top: 0;
	transform: translateX(-100%);
	transition: transform .5s ease-in-out;
}



/* ------------------------------------------------------ */
/*                 Generic window styling                 */
/* ------------------------------------------------------ */

.window {
	width: calc(100% + 16px);
    height: calc(100% + 16px);
	background-color: gray;
	position: absolute;
	padding: 3rem 1rem 1rem 1rem;

	border-radius: 2rem;
	border: .5rem inset var(--background-alt);

	display: none;
}





/* ------------------------------------------------------ */
/*                     Utility classes                    */
/* ------------------------------------------------------ */

.hidden {
	display: none;
}

.visible {
	display: block;
}

.slide-in-right {
	animation: slide-in .5s ease-in-out;
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.slide-in-bottom {
	animation: slide-in-bottom .5s ease-in-out;
}

@keyframes slide-in-bottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

.slide-out-right {
	animation: slide-out .5s ease-in-out;
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

.slide-out-bottom {
	animation: slide-out-bottom .5s ease-in-out;
}

@keyframes slide-out-bottom {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(100%);
	}
}