<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/story.css">
</head>
<body>
    
    <div class="window-saved-storypart" data-tag-name="saved-storypart">
        <h3 slot="saved-storypart-title">Title</h3>
        <p slot="saved-storypart-author">Author</p>
    </div>
</body>
</html>
