<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/story.css">
</head>
<body>
    
    <section class="window-saved-empty" data-tag-name="saved-empty">
        <p>There are no saved stories yet.</p>
        <img src="images/dragon-empty.png" alt="Drawing of a dragon raising his shoulders in question">
        <a href="#story">Start reading</a>
    </section>
</body>
</html>
