<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/story.css">
</head>
<body>
    
    <section class="window-error" data-tag-name="story-error">
        <h2>Oops! Something went wrong.</h2>
        <img src="images/dragon-empty.png" alt="Drawing of a dragon raising his shoulders in question">
        <a href="#home" class="btn">Go back to home</a>
    </section>
    
</body>
</html>
