<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/story.css">
</head>
<body>
    
    <section class="window-success">
        <label for="save-toggle" class="save-toggle-label">
            <input type="checkbox" id="save-toggle" class="save-toggle">
        </label>
        <h2 slot="story-success-title">Title</h2>
        <span>
            <p>By</p>
            <p slot="story-success-author">Author</p>
        </span>
        <p slot="story-success-content" data-tag-name="story-success">
            Failed to load, try again later.
        </p>
        <div class="anim-container">
            <img src="/visitekaartje/images/globe.svg" alt="placeholder">
        </div>
    </section>
    
</body>
</html>
